$main-font: 'Source Sans Pro', sans-serif;

$title-font: 'Poppins', sans-serif;

$txt-color: #FFFFFF;

$bg-color: #000000;


body {
    
    background-color: $bg-color;
    margin: auto;
    max-width: 1400px;
    width:100%;
    min-height: 810px;
}
a:link {
    text-decoration: none;
    color:#FFFFFF;
}


/*________________________________________________HEADER____________________________________________*/

.header {
    max-width: 1100px;
    width:100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*___________curious why the logo is so far on the left__________*/
    .header__logo {
        display:flex;
        margin: 10px;
        margin-left: 30px;
    }

        .logo--sizing {
            width: 90px;
            height: 36px;
        }


        .header__nav--ul {
            display: flex;
            flex-basis: 1;
            align-items: center;
            

            list-style: none;
            list-style-type: none;

            color: $txt-color;
        }
            .header__nav--li {
                font-family: $main-font;
                color: $txt-color;

                padding:5%;
            }

            .dots--sizing {
                width:25px;
                height:25px;
            }

/*_______________________________________________MAIN________________________________________________*/


.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
    .main__title {
        display: flex;
    }
        .main__title--style {
            font-family: $title-font;
            color: $txt-color;
            font-family: $title-font;
            font-style: normal;
            font-weight: 500;
            font-size: 84px;
            line-height: 102px;
            letter-spacing: -2px;
        }

    .main__text {
        display: flex;
    }
        .main__text--style {
            font-family: $main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 34px;
            text-align: center;
            color: $txt-color;
        }
        
    .main__image {
        display: flex;
        background-image: url(../images/Mountain.png);
        background-size:cover;
        min-height: 486px;
        max-width: 864px;
        width: 100%;
        border-radius: 0px;
    }    


/*_____________ALL MEDIA QUERIES_____________*/


/*______________________DESKTOP OPTIMIZED________________________*/
@media screen and (max-width: 1500px) {


    .main__title--style {
        font-style: normal;
        font-weight: 500;
        font-size: 84px;
        line-height: 102px;
        letter-spacing: -2px;
    
    }
    .main__text--style {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 34px;
        text-align: center;
    }

  }


/*______________________TABLET OMPTIMISED_______________________*/
@media screen and (max-width: 800px) {


    .main__image {
        background-image: url(../images/Mountain-tab.png);
        background-size:cover;
        height: 512px;
        width: 617px;
        border-radius: 0px;

    }
    .main__title {
        max-width: 617px;
        width:100%;
        min-height: auto;
    }
    .main__title--style {
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 83px;
        letter-spacing: -1.6px;
    }
    .main__text {
        max-width: 617px;
        width:100%;
        min-height: auto;
    }

    .main__text--style {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }
}
  

/*_______________________MOBILE OPTIMISED_______________________*/
  @media screen and (max-width: 480px) {

    .main__image {
        background-image: url(../images/Mountain-mob2.png);
        min-height: 284px auto;
        max-width: 256px auto;
        width:100%;
        border-radius: 0px;

    }
    .main__title--style {
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.8px;
    }
    .main__text--style {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }

    .header__nav--li {
        display: none;
        
    }
  }


/*_________________________________________*/


